PDRM/PDRM/AdViewer/Web References/GIS/GIS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://158.130.67.0/GIS/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://158.130.67.0/GIS/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://158.130.67.0/GIS/">
      <s:element name="RegisterUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newUser" type="s0:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EntryTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="License">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="s0:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewAds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="s0:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewAdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewAdsResult" type="s0:ArrayOfAdMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAdMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdMessage" nillable="true" type="s0:AdMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AdText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s0:AdType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AdType">
        <s:restriction base="s:string">
          <s:enumeration value="NormalAd" />
          <s:enumeration value="OffensiveAd" />
          <s:enumeration value="Discount" />
        </s:restriction>
      </s:simpleType>
      <s:element name="getUsers">
        <s:complexType />
      </s:element>
      <s:element name="getUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUsersResult" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterMerchant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="policy" type="s0:POLICY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="POLICY">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_disputes" type="s0:ArrayOfDISPUTES" />
          <s:element minOccurs="0" maxOccurs="1" name="m_statements" type="s0:ArrayOfSTATEMENT" />
          <s:element minOccurs="0" maxOccurs="1" name="access" type="s0:ACCESS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDISPUTES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DISPUTES" nillable="true" type="s0:DISPUTES" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DISPUTES">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="remedies" type="s0:REMEDIES" />
          <s:element minOccurs="1" maxOccurs="1" name="resolution_type" type="s0:RESOLUTION_TYPE" />
          <s:element minOccurs="0" maxOccurs="1" name="service" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="REMEDIES">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="correct" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="money" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="law" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RESOLUTION_TYPE">
        <s:restriction base="s:string">
          <s:enumeration value="SERVICE" />
          <s:enumeration value="INDEPENDENT" />
          <s:enumeration value="COURT" />
          <s:enumeration value="LAW" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfSTATEMENT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="STATEMENT" nillable="true" type="s0:STATEMENT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STATEMENT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="consequence" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nonidentifiable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="purpose" type="s0:PURPOSE" />
          <s:element minOccurs="0" maxOccurs="1" name="recipient" type="s0:RECIPIENT" />
          <s:element minOccurs="0" maxOccurs="1" name="retention" type="s0:RETENTION" />
          <s:element minOccurs="0" maxOccurs="1" name="categories" type="s0:CATEGORIES" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PURPOSE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="current" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="admin" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="develop" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="tailoring" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="pseudo_analysis" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="pseudo_decision" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="individual_analysis" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="individual_decision" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="contact" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="telemarketing" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="historical" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="other_purpose" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="other_purpose_required" type="s0:REQUIRED" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Element_with_Required">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="present" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="required" type="s0:REQUIRED" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="REQUIRED">
        <s:restriction base="s:string">
          <s:enumeration value="always" />
          <s:enumeration value="opt_in" />
          <s:enumeration value="opt_out" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="RECIPIENT">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ours" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="delivery" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="same" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="other_recipient" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="unrelated" type="s0:Element_with_Required" />
          <s:element minOccurs="0" maxOccurs="1" name="_public" type="s0:Element_with_Required" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RETENTION">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="no_retention" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="stated_purpose" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="legal_requirement" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="business_practices" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="indefinitely" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CATEGORIES">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="physical" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="online" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="uniqueid" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="purchase" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="financial" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="computer" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="navigation" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="interactive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="demographic" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="content" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="state" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="political" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="health" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="preference" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="location" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="government" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="other_category" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ACCESS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="nonident" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="all" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="contact_and_other" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ident_contact" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="other_ident" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="none" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterMerchantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterMerchantResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="s0:User" />
            <s:element minOccurs="0" maxOccurs="1" name="ad" type="s0:AdMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendAdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsecureGetUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="merch" type="s0:Merchant" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Merchant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsecureGetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsecureGetUsersResult" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsecureRegisterMerchant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="merch" type="s0:Merchant" />
            <s:element minOccurs="0" maxOccurs="1" name="policy" type="s0:POLICY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsecureRegisterMerchantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsecureRegisterMerchantResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="RegisterUserSoapIn">
    <part name="parameters" element="s0:RegisterUser" />
  </message>
  <message name="RegisterUserSoapOut">
    <part name="parameters" element="s0:RegisterUserResponse" />
  </message>
  <message name="RemoveUserSoapIn">
    <part name="parameters" element="s0:RemoveUser" />
  </message>
  <message name="RemoveUserSoapOut">
    <part name="parameters" element="s0:RemoveUserResponse" />
  </message>
  <message name="GetNewAdsSoapIn">
    <part name="parameters" element="s0:GetNewAds" />
  </message>
  <message name="GetNewAdsSoapOut">
    <part name="parameters" element="s0:GetNewAdsResponse" />
  </message>
  <message name="getUsersSoapIn">
    <part name="parameters" element="s0:getUsers" />
  </message>
  <message name="getUsersSoapOut">
    <part name="parameters" element="s0:getUsersResponse" />
  </message>
  <message name="RegisterMerchantSoapIn">
    <part name="parameters" element="s0:RegisterMerchant" />
  </message>
  <message name="RegisterMerchantSoapOut">
    <part name="parameters" element="s0:RegisterMerchantResponse" />
  </message>
  <message name="SendAdSoapIn">
    <part name="parameters" element="s0:SendAd" />
  </message>
  <message name="SendAdSoapOut">
    <part name="parameters" element="s0:SendAdResponse" />
  </message>
  <message name="InsecureGetUsersSoapIn">
    <part name="parameters" element="s0:InsecureGetUsers" />
  </message>
  <message name="InsecureGetUsersSoapOut">
    <part name="parameters" element="s0:InsecureGetUsersResponse" />
  </message>
  <message name="InsecureRegisterMerchantSoapIn">
    <part name="parameters" element="s0:InsecureRegisterMerchant" />
  </message>
  <message name="InsecureRegisterMerchantSoapOut">
    <part name="parameters" element="s0:InsecureRegisterMerchantResponse" />
  </message>
  <portType name="GISSoap">
    <operation name="RegisterUser">
      <input message="s0:RegisterUserSoapIn" />
      <output message="s0:RegisterUserSoapOut" />
    </operation>
    <operation name="RemoveUser">
      <input message="s0:RemoveUserSoapIn" />
      <output message="s0:RemoveUserSoapOut" />
    </operation>
    <operation name="GetNewAds">
      <input message="s0:GetNewAdsSoapIn" />
      <output message="s0:GetNewAdsSoapOut" />
    </operation>
    <operation name="getUsers">
      <input message="s0:getUsersSoapIn" />
      <output message="s0:getUsersSoapOut" />
    </operation>
    <operation name="RegisterMerchant">
      <input message="s0:RegisterMerchantSoapIn" />
      <output message="s0:RegisterMerchantSoapOut" />
    </operation>
    <operation name="SendAd">
      <input message="s0:SendAdSoapIn" />
      <output message="s0:SendAdSoapOut" />
    </operation>
    <operation name="InsecureGetUsers">
      <input message="s0:InsecureGetUsersSoapIn" />
      <output message="s0:InsecureGetUsersSoapOut" />
    </operation>
    <operation name="InsecureRegisterMerchant">
      <input message="s0:InsecureRegisterMerchantSoapIn" />
      <output message="s0:InsecureRegisterMerchantSoapOut" />
    </operation>
  </portType>
  <binding name="GISSoap" type="s0:GISSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RegisterUser">
      <soap:operation soapAction="http://158.130.67.0/GIS/RegisterUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RemoveUser">
      <soap:operation soapAction="http://158.130.67.0/GIS/RemoveUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetNewAds">
      <soap:operation soapAction="http://158.130.67.0/GIS/GetNewAds" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUsers">
      <soap:operation soapAction="http://158.130.67.0/GIS/getUsers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegisterMerchant">
      <soap:operation soapAction="http://158.130.67.0/GIS/RegisterMerchant" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SendAd">
      <soap:operation soapAction="http://158.130.67.0/GIS/SendAd" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsecureGetUsers">
      <soap:operation soapAction="http://158.130.67.0/GIS/InsecureGetUsers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsecureRegisterMerchant">
      <soap:operation soapAction="http://158.130.67.0/GIS/InsecureRegisterMerchant" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GIS">
    <documentation>A Geographic Information Service.  Allows Merchants and Users to interact by letting authotized Merchants attain location information about registered users.</documentation>
    <port name="GISSoap" binding="s0:GISSoap">
      <soap:address location="http://localhost/GIS/GIS.asmx" />
    </port>
  </service>
</definitions>