WSEmail/BabyTest/Web References/localhost/BabyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBaby">
        <s:complexType />
      </s:element>
      <s:element name="GetBabyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBabyResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetBabySoapIn">
    <part name="parameters" element="s0:GetBaby" />
  </message>
  <message name="GetBabySoapOut">
    <part name="parameters" element="s0:GetBabyResponse" />
  </message>
  <message name="GetBabyHttpGetIn" />
  <message name="GetBabyHttpGetOut">
    <part name="Body" />
  </message>
  <message name="GetBabyHttpPostIn" />
  <message name="GetBabyHttpPostOut">
    <part name="Body" />
  </message>
  <portType name="Service1Soap">
    <operation name="GetBaby">
      <input message="s0:GetBabySoapIn" />
      <output message="s0:GetBabySoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="GetBaby">
      <input message="s0:GetBabyHttpGetIn" />
      <output message="s0:GetBabyHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="GetBaby">
      <input message="s0:GetBabyHttpPostIn" />
      <output message="s0:GetBabyHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetBaby">
      <soap:operation soapAction="http://tempuri.org/GetBaby" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="GetBaby">
      <http:operation location="/GetBaby" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="GetBaby">
      <http:operation location="/GetBaby" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/BabyService/BabyService.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://localhost/BabyService/BabyService.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://localhost/BabyService/BabyService.asmx" />
    </port>
  </service>
</definitions>